// Get the input params from params.config
includeConfig 'params.config'

// Create profiles
profiles {
  standard {
    env {
      RESOURCE_DIR = "$PWD/files"
      OUTPUT_DIR = "$PWD/files/longGWAS_pipeline/results"
      STORE_DIR = "$PWD/files/longGWAS_pipeline/results/cache"
      ADDI_QC_PIPELINE = '/usr/src/ADDI-GWAS-QC-pipeline/addi_qc_pipeline.py'
    }
    process {
      container = 'amcalejandro/longgwas:latest'
      cpus = 2
      withLabel: small {
        cpus = 2
        memory = '6 GB'
      }
      withLabel: medium {
        cpus = 2
        memory = '6 GB'
      }
      withLabel: large_mem {
        cpus = 2
        memory = '6 GB'
      }
    }
    docker {
      enabled = true
      temp = 'auto'
    }
  }

  gls {
    env {
      RESOURCE_DIR = 'gs://long-gwas/nextflow-test/files'
      OUTPUT_DIR = 'gs://long-gwas/nextflow-test/files/results'
      STORE_DIR = 'gs://long-gwas/nextflow-test/files/cache'
      ADDI_QC_PIPELINE = '/usr/src/ADDI-GWAS-QC-pipeline/addi_qc_pipeline.py'
    }
    process {
      cpus = 4
      withLabel: small {
        cpus = 4
        memory = '12 GB'
      }
      withLabel: medium {
        cpus = 4
        memory = '12 GB'
      }
      withLabel: large_mem {
        cpus = 4
        memory = '12 GB'
      }
    }
    workDir = 'gs://long-gwas/nextflow-test/workdir'
    process.executor = 'google-lifesciences'
    process.container = 'amcalejandro/longgwas:latest'
    google.location = 'us-central1'
    google.project = 'gp2-data-explorer'
    google.region  = 'us-central1'
    google.lifeSciences.bootDiskSize = '20GB'
    process.cpus = 8
    process.memory = '32 GB'
    process.disk = '30 GB'
  }

  gcb {
    env {
      RESOURCE_DIR = 'gs://long-gwas/nextflow-test-batch/files'
      OUTPUT_DIR = 'gs://long-gwas/nextflow-test-batch/files/results'
      STORE_DIR = 'gs://long-gwas/nextflow-test-batch/files/cache'
      ADDI_QC_PIPELINE = '/usr/src/ADDI-GWAS-QC-pipeline/addi_qc_pipeline.py'
    }
    process {
      container = 'amcalejandro/longgwas:latest'
      cpus = 2
      withLabel: small {
        cpus = 2
        memory = '6 GB'
      }
      withLabel: medium {
        cpus = 2
        memory = '6 GB'
      }
      withLabel: large_mem {
        cpus = 2
        memory = '6 GB'
      }
    }

    process.executor = 'google-batch'
    process.container = 'amcalejandro/longgwas:latest'
    google.location = 'us-central1'
    google.project = 'gp2-data-explorer'
    google.region  = 'us-central1'
  }

  'gs-data' {
    env {
      RESOURCE_DIR = "$PWD/files"
      OUTPUT_DIR = "$PWD/files/longGWAS_pipeline/results"
      STORE_DIR = "$PWD/files/longGWAS_pipeline/results/cache"
      ADDI_QC_PIPELINE = '/usr/src/ADDI-GWAS-QC-pipeline/addi_qc_pipeline.py'
    }

    process.container = 'amcalejandro/longgwas:latest'
    google.region = 'us-central1'
    process.executor = 'local'
  }
}