process.container = 'gwas-pipeline'

// environment variables for GWAS pipeline
env {
  RESOURCE_DIR = '/files'
  OUTPUT_DIR = '/files/longGWAS_pipeline/results'
  STORE_DIR = '/files/longGWAS_pipeline/cache'
  ADDI_QC_PIPELINE = '/usr/src/ADDI-GWAS-QC-pipeline/addi_qc_pipeline.py'
}

executor {
  name = 'local'
  cpus = 48
  memory = '480 GB'
}

docker {
  enabled = true
  temp = 'auto'
}

process {
  cpus = 2

  withLabel: small {
    cpus = 2
    memory = '20 GB'
  }

  withLabel: medium {
    cpus = 48
    memory = '225 GB'
  }

withLabel: large_mem {
    cpus = 48
    memory = '225 GB'
 }
}

