// Input data
//params.input = "$PWD/example/genotype/chr*.vcf"
//params.covarfile = "$PWD/example/covariates.tsv"
//params.phenofile = "$PWD/example/phenotype.surv.tsv"
params.input = 'gs://long-gwas/nextflow-test/input-data/genotype/chr*.vcf'
params.covarfile = 'gs://long-gwas/nextflow-test/input-data/covariates.tsv'
params.phenofile = 'gs://long-gwas/nextflow-test/input-data/phenotype.lt.tsv'

// Variables names
params.pheno_name = 'y'
params.covariates = 'SEX age_at_baseline'

// model and genetic data types
params.longitudinal_flag = 'true'
params.survival_flag = 'false'
params.assembly = 'hg19'

// identifier for the input genotype files - useful to cache results
params.dataset = "lmm-paramstry"